*{
    text-align: center;
}
table, tr, td{
    border: 1px solid  rgb(63,63,63);
    border-collapse: collapse; 
    margin-right: auto;
    margin-left: auto;
    padding-left: 7px;
    padding-right: 7px;
}
legend{
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin: 20px;
}
ul{
    list-style-type:disc;
    margin-right: 10px ;
    margin-left: 5px;
}
li{
    text-align: left;
}
img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50px;
    height: 50px;
}
td[colspan="2"], td[colspan="3"]{
    background-color: rgb(154, 152, 214);
}
#altura{
    height: 100px;
}
#PaddingSuperiorInferiorFondoAmarillo{
    padding-bottom: 10%;
    padding-top: 10%;
    background-color: rgb(254,255,0);
}
#ListasRojo{
    color: red
}
.color_fondo_rojo{
    background-color:rgb(255, 1, 0);
}
.letra_blanca{
    color:white;
}
.letra_negraNegrita{
    color: black;
    font-weight: bolder;
}
.ColorGristamañoLetraCentrada{
    font-size: 200%;
    text-align: center;
    background-color: rgb(130, 130, 130);
}
