
h1, h2, nav{
  margin-left: 20%;
}
blockquote{
  text-align: center;
}
img{
  width: 60%;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
[alt="robot"]{
  width:  20%;
  height: 20%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border-radius: 50%;
  transition: box-shadow 1s ease  ;
  box-shadow: -10px 0px 10px yellow, 10px 0px 10px red,0px -10px 10px green, 0px 10px 10px blue;
 

}
[alt="robot"]:hover{
  box-shadow:  10px 10px 10px rgb(153, 21, 146), -10px -10px 10px rgb(4, 96, 99);
  transform: rotate(360deg);
  transition: transform 3s;
}
div{
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: rgb(13, 114, 139);
  width: 60%;
}
a:not(nav a), p{
  padding-left: 30px;
}
form{
  padding: 30px;
}
button{
  background-color: rgb(133, 4, 126);
}
footer{
  display: flex;
}
span:last-child{
  color: blue;
}
span:first-child{
  color: red;
}
 #footer-izq{
  margin-right: auto;
  margin-left: 300px;
}
#footer-centro{
  margin-right: auto;
  margin-left: auto;
}
 #footer-dcha{
 margin-left: auto;
 margin-right: 300px;
}
