h1, h2, footer{
    text-align: center;
}    
p{
    margin: 0 auto;
    border: solid black ;
    width: 33%;
    animation-name: animacion;
    animation-play-state: paused;
    animation-duration: 4s;
    animation-iteration-count:infinite ;
    animation-direction:alternate;
}
p:hover{
    animation-play-state: running;
}
@keyframes animacion{
    from{
        translate: -100px ;
    }to{
        translate: 100px;
    }
}
